*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 1440px;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#div--sedans{
    background-color:  hsl(31, 77%, 52%);
    margin: 10% 0% 10% 20%;   
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

#img--icon-sedans{
    margin: 10% 0 10% 10%;
}

#input--button-sedans{
    border-radius: 30px;
    margin: 15% 0 20% 11%;
    padding: 4% 11%;
    background-color:  hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    border: none;
    font-size: 18px;
    transition: background-color 1s;
}

#input--button-sedans:hover{
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    border: solid;
    padding: 3.4% 11%;
    cursor: pointer;
}

#div--suvs{
    background-color: hsl(184, 100%, 22%);
    margin: 10% 0 10% 0;
    border: none;
}

#img--icon-suvs{
    margin: 10% 0 10% 10%;
}

#input--button-suvs{
    border-radius: 30px;
    margin: 13% 0 20% 11%;
    padding: 4% 11%;
    background-color: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
    border: none;
    font-size: 18px;
    transition: background-color 1s;
}

#input--button-suvs:hover{
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    border: solid;
    padding: 3.2% 11%;
    cursor: pointer;
}

#div--luxury{
    background-color: hsl(179, 100%, 13%);
    margin: 10% 0 10% 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}

#img--icon-luxury{
    margin: 10% 0 10% 10%;
}

#input--button-luxury{
    border-radius: 30px;
    margin: 13% 0 20% 11%;
    padding: 4% 11%;
    background-color: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);   
    border: none;
    font-size: 18px;
    transition: background-color 1s;
}

#input--button-luxury:hover{
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    border: solid;
    padding: 3.3% 11%;
    cursor: pointer;
}

.h1--card-title{
    color: hsl(0, 0%, 95%);
    font-family: Big Shoulders Display;
    font-weight: 700;
    margin: 5% 0 10% 11%;
    font-size: 50px;
    letter-spacing: 2px;
}

.p--card-text{
    color:  hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca;
    font-weight: 400;
    margin: 5% 20% 8% 11%;
    letter-spacing: 2px; 
    line-height: 30px;
}

.attribution { 
    font-size: 11px;
     text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
 }

 /*Responsive*/


 @media only screen and (max-width: 600px){
    body{
        width: 375px;
    }

    main{
        flex-direction: column;
        align-items: center;
    }

    #div--sedans{
        margin: 10% 5% 0 10%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px;
    }

    #input--button-sedans{
        margin-top: 1%;
    }

    #input--button-sedans:hover{
        padding: 3% 11%;
    }

    #div--suvs{
        margin: 0 5% 0 10%;
    }

    #input--button-suvs{
        margin-top: 1%;
    }


    #input--button-suvs:hover{
        padding: 3% 11%;
    }

    #div--luxury{
        margin: 0 5% 10% 10%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #input--button-luxury{
        margin-top: 1%;
    }

    #input--button-luxury:hover{
        padding: 3% 11%;
    }

    #p--card-text{
        margin-right: 15%;
    }
 }

 

